
<app-top-var></app-top-var>
<div class="loader" *ngIf="!load">
  <div class="overlay">
    <div class="spinner">
      <img src="https://res.cloudinary.com/practicaldev/image/fetch/s--huFQ3nbp--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_66%2Cw_880/https://dev-to-uploads.s3.amazonaws.com/i/gqmymopg8bignlcfhvcx.gif" />
    </div>
  </div>
</div>

<div class="body" *ngIf="load">

  <app-searcher (search)="handleSearch($event)"></app-searcher>
  <div class="container__cards">
    <div class="card" *ngFor="let manga of trueMangaArr | search: filterValue">
      <div class="cover">
        <img src="{{ manga.Personal.imagen }}" alt="" />
      </div>

      <div class="description" [ngSwitch]="manga.Datos.genero">
        <h2 *ngSwitchCase="'shounen'" style="background-color: #ff000090">
          {{ manga.Datos.genero }}
        </h2>

        <h2 *ngSwitchCase="'shoujo'" style="background-color: #c300ab90">
          {{ manga.Datos.genero }}
        </h2>

        <h2 *ngSwitchCase="'josei'" style="background-color: #fe81ef90">
          {{ manga.Datos.genero }}
        </h2>

        <h2 *ngSwitchCase="'seinen'" style="background-color: #f1c40f90">
          {{ manga.Datos.genero }}
        </h2>

        <h2 *ngSwitchCase="null" style="background-color: #28374790">
          No disponible
        </h2>
        <div>
          <h1>{{ manga.Datos.titulo }}</h1>
        </div>
        <p>{{ manga.Datos.descripcion }}</p>

        <input type="button" value="Leer Más" (click)="showManga(manga)"/>
      </div>
    </div>
  </div>
</div>
