<app-top-var></app-top-var>
<div class="body">
  <mat-grid-list cols="2" rowHeight="302px">
    <mat-grid-tile
      *ngFor="let card of cards | async"
      [colspan]="card.cols"
      [rowspan]="card.rows"
    >
      <mat-card
        *ngIf="card.title !== 'Log Out'"
        class="dashboard-card"
        style="background-image: url({{ card.image }});transition:0.3s"
        (click)="goRoute(card.url)"
      >
        <mat-card-header style="display: flex; justify-content: center">
          <mat-card-title
            style="
              color: white;
              -webkit-text-stroke: 1.5px black;
            "
          >
            {{ card.title }}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content"> </mat-card-content>
      </mat-card>

      <mat-card
        *ngIf="card.title == 'Log Out'"
        class="dashboard-card"
        style="background-image: url({{ card.image }});transition:0.3s"
        (click)="AuthService.logOut()"
      >
        <mat-card-header style="display: flex; justify-content: center">
          <mat-card-title
            style="
              color: white;
              -webkit-text-stroke: 1.5px black;
            "
          >
            {{ card.title }}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content"> </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
