.grid-container {
  background-color: #532e94;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.dashboard-card:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  width: auto;
  cursor: pointer;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.body {
  background-color: #a46dff;
  padding: 2%;
}

.mat-card-title {
  font-size: 60px;
}

@media all and (max-width: 30em) {
  .mat-card-title {
    font-size: 30px;
  }
}
