<meta name="referrer" content="no-referrer" />
<app-top-var></app-top-var>
<div class="loader" *ngIf="!load">
  <div class="overlay">
    <div class="spinner">
      <img src="{{loader}}" />
    </div>
  </div>
</div>

<div>
<div class="aaa" *ngIf="load">
  <a
    (click)="chapterlist()"
    class="button4"
    style="background-color: #f1bb4e; margin-top: 1%"
    >chapterlist</a
  >
  <div class="imageblock" *ngFor="let image of images">
    <img [defaultImage]="loader" [lazyLoad]="image.image"  class="images"/>
    <br />
  </div>
  <a (click)="chapterlist()" class="button4" style="background-color: #f1bb4e"
    >chapterlist</a
  >
  <a routerLink="/main" class="button4" style="background-color: #9a4ef1"
    >home</a
  >
</div>
