

<div class="container">
  <div class="header">
    <div *ngIf="load" style="text-align:center">
      <button (click)="favourite()" *ngIf="!isFavorite">
        <fa-icon [icon]="faHeartBroken" *ngIf="!isFavorite" style="color: red"></fa-icon>
      </button>
      <button (click)="favourite()" *ngIf="isFavorite">
        <fa-icon [icon]="faHeart" *ngIf="isFavorite" style="color: red"></fa-icon>
      </button>
    </div>
    <h1>{{ Manga.Datos.titulo }}</h1>
    <div class="attributes">
      <img src="{{ Manga.Personal.imagen }}" />
      <div class="atributos" [ngSwitch]="Manga.Datos.estado">
        <p><b>Tipo:</b> {{ Manga.tipo }}</p>
        <p><b>Autor:</b> {{ Manga.Personal.autor }}</p>
        <p><b>Genero:</b> {{ Manga.Datos.genero }}</p>
        <p><b>Fecha de publicación:</b> {{ Manga.Datos.fechaCreacion }}</p>
        <p>
          <b>Estado:</b>
          <span *ngSwitchCase="'ongoing'" id="status" style="background-color: #2ecc7190">{{
            Manga.Datos.estado
          }}</span>
          <span *ngSwitchCase="'hiatus'" id="status" style="background-color: #f4d03f90">{{
            Manga.Datos.estado
          }}</span>
          <span *ngSwitchCase="'completed'" id="status" style="background-color: #2874a690">{{
            Manga.Datos.estado
          }}</span>
          <span *ngSwitchCase="'cancelled'" id="status" style="background-color: #e74c3c90">{{
            Manga.Datos.estado
          }}</span>
        </p>
      </div>
    </div>
  </div>
    <p class="descripcion"><b>Descripcion:</b><br />{{ Manga.Datos.descripcion }}</p>
    <div class="chapterContainer">
    <h1>Capitulos</h1>
    <div *ngFor="let a of chapters">
      <a (click)="read(a.id)">{{ a.chapter }}</a>
    </div>
    </div>
    <!-- <div *ngFor="let capitulo of trueChapter">
      <p>{{ capitulo.volume }}</p>
    </div> -->
</div>
